---
---
body {
	margin: 0;
	font-family: sans-serif;
	color: #333;
}
item {
	display: block;
}
section#content {
	display: block;
	margin-left: 300px;
	margin-top: 165px;
	font-size: 12px;
	color: #333;
	img {
		max-width: 795px;
		transition: all  .25s ease-in-out;
//		&:hover {
//			transform: scale(1.05, 1.05);
//		}
	}
	item {
		margin-bottom: 100px;
	}
	ul {
		list-style-type: none;
		padding: 0;
		li {
			margin: 0 0 10px -3px;
		}
	}
	a {
		padding: 3px;
	}
}
menu {
	display: block;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	width: 165px;
	section#menu {
		width: 80%;
		margin: 0 auto;
		img {
			display: block;
			width: 120px;
			margin-bottom: 30px;
		}
		ul {
			list-style-type: none;
			padding: 0;
		}

		ul, li, h2, a {
			margin: 0 0 3px 0;
			font-size: 12px;
			text-decoration: none;
		}
		h2, a {
			padding: 3px;
			text-transform: capitalize;
		}
		li {
			padding: 3px 0 3px 0;
		}
		h2 {
			margin-top: 30px;
		}
	}
}
a {
	text-decoration: none;
	color: #888;
	&:visited {
		color: #888;
	}
	&.active {
		color: #73f3a9;
	}
	&:hover {
		background-color: #efbac5;
		color: #fff;
	}
	&.menu {
		display: inline-block;
	}
	&.external {
    		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTMiIHdpZHRoPSIxMyIgdmVyc2lvbj0iMS4xIiB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIiB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iPgo8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMzYuNDY3ODA4LC0yNTguMzkwMDUpIj4KPHBhdGggc3R5bGU9Im9wYWNpdHk6MTtmaWxsOiMzMzY2YmI7IiBkPSJtNDEuNDcsMjU5LjQsNywwLDAsNy0yLTItMywyLDAtMSwzLTIuMjUsMSwxLDAtMy43NS0zLjc1LDAsMSwxLTIuMjUsMy0xLDAsMi0zeiIvPgo8cGF0aCBzdHlsZT0ib3BhY2l0eToxO2ZpbGw6IzMzNjZiYjsiIGQ9Im00My40NywyNjEuNC01LDAsMCw4LDgsMCwwLTUtMSwwLDAsNC02LDAsMC02LDQsMHoiLz4KPHBhdGggc3R5bGU9Im9wYWNpdHk6MTtmaWxsOiMxNWE1ZWE7IiBkPSJtNDAuNTUsMjYzLjljMC0wLjYyMTMsMC42MjEzLTAuNjIxMywwLjYyMTMtMC42MjEzLDEuODY0LDAuNjIxMywzLjEwNywxLjg2NCwzLjcyOCwzLjcyOCwwLDAsMCwwLjYyMTMtMC42MjEzLDAuNjIxMy0xLjI0My0xLjg2NC0xLjg2NC0yLjQ4NS0zLjcyOC0zLjcyOHoiLz4KPC9nPgo8L3N2Zz4K) center right no-repeat;
    		padding-right: 13px;
	}
}
